* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1340px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

section {
    margin: 50px 0;
}

.primary-btn {
    font-size: 24px;
    padding: 15px 25px;
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
}
